<form
  class="flex flex-col gap-6"
  [formGroup]="customerForm"
  (ngSubmit)="saveCustomer()"
  #formRef="ngForm"
>
  <div class="field">
    <label for="name">Имя клиента <em class="text-red-500">*</em></label>
    <input
      id="name"
      [invalid]="false"
      class="w-full"
      type="text"
      formControlName="name"
      placeholder="Введите имя клиента"
      pInputText
    />
    @if (formRef.submitted && customerForm.controls.name.errors) {
      @if ('required' in customerForm.controls.name.errors) {
        <p-message severity="error" size="small" variant="simple">
          Имя клиента обязательно
        </p-message>
      }
      @if ('minlength' in customerForm.controls.name.errors) {
        <p-message severity="error" size="small" variant="simple">
          Имя должно содержать минимум 2 символа
        </p-message>
      }
    }
  </div>

  <div class="field">
    <label for="phone">Телефон</label>
    <input
      id="phone"
      class="w-full"
      type="tel"
      formControlName="phone"
      placeholder="Введите номер телефона"
      pInputText
    />
  </div>

  <div class="field">
    <label for="address">Адрес</label>
    <input
      id="address"
      class="w-full"
      type="text"
      formControlName="address"
      placeholder="Введите адрес"
      pInputText
    />
  </div>

  <div class="field">
    <label for="notes">Заметки</label>
    <textarea
      id="notes"
      class="w-full"
      formControlName="notes"
      placeholder="Введите дополнительные заметки"
      [rows]="3"
      pTextarea
    ></textarea>
  </div>

  <div class="mt-4 flex justify-end gap-4">
    <button type="button" pButton pRipple [text]="true" (click)="closeDialog()">
      <span pButtonLabel>Отмена</span>
    </button>
    <button type="submit" pButton pRipple [loading]="loading()">
      <i [class]="buttonIcon()" pButtonIcon></i>
      <span pButtonLabel>{{ buttonLabel() }}</span>
    </button>
  </div>
</form>
