<form
  class="flex flex-col gap-6"
  [formGroup]="priceTypeForm"
  (ngSubmit)="savePriceType()"
  #formRef="ngForm"
>
  <div class="field">
    <label for="name">Название типа цены <em class="text-red-500">*</em></label>
    <input
      id="name"
      class="w-full"
      type="text"
      formControlName="name"
      placeholder="Введите название типа цены"
      pInputText
    />
    @if (formRef.submitted && priceTypeForm.controls.name.errors) {
      @if ('required' in priceTypeForm.controls.name.errors) {
        <p-message severity="error" size="small" variant="simple">
          Название типа цены обязательно
        </p-message>
      }
      @if ('minlength' in priceTypeForm.controls.name.errors) {
        <p-message severity="error" size="small" variant="simple">
          Название должно содержать минимум 2 символа
        </p-message>
      }
    }
  </div>

  <div class="field">
    <label for="usage">Использование <em class="text-red-500">*</em></label>
    <p-multiselect
      id="usage"
      class="w-full"
      formControlName="usage"
      optionValue="value"
      placeholder="Выберите использование"
      [options]="usageOptions"
      optionLabel="label"
      appendTo="body"
    />
    @if (formRef.submitted && priceTypeForm.controls.usage.errors) {
      @if ('required' in priceTypeForm.controls.usage.errors) {
        <p-message severity="error" size="small" variant="simple">
          Использование обязательно
        </p-message>
      }
    }
  </div>

  <div class="mt-4 flex justify-end gap-4">
    <button type="button" pButton pRipple [text]="true" (click)="closeDialog()">
      <span pButtonLabel>Отмена</span>
    </button>
    <button type="submit" pButton pRipple [loading]="loading()">
      <i [class]="buttonIcon()" pButtonIcon></i>
      <span pButtonLabel>{{ buttonLabel() }}</span>
    </button>
  </div>
</form>
