<form
  class="flex flex-col gap-6"
  [formGroup]="cashboxForm"
  (ngSubmit)="saveCashbox()"
  #formRef="ngForm"
>
  <div class="field">
    <label for="name">Название кассы <em class="text-red-500">*</em></label>
    <input
      id="name"
      class="w-full"
      type="text"
      formControlName="name"
      placeholder="Введите название кассы"
      pInputText
    />
    @if (formRef.submitted && cashboxForm.controls.name.errors) {
      @if ('required' in cashboxForm.controls.name.errors) {
        <p-message severity="error" size="small" variant="simple">
          Название кассы обязательно
        </p-message>
      }
      @if ('minlength' in cashboxForm.controls.name.errors) {
        <p-message severity="error" size="small" variant="simple">
          Название должно содержать минимум 2 символа
        </p-message>
      }
    }
  </div>

  <div class="field">
    <label for="storeId">Магазин <em class="text-red-500">*</em></label>
    <p-select
      id="storeId"
      class="w-full"
      formControlName="storeId"
      optionValue="id"
      placeholder="Выберите магазин"
      [options]="(stores$ | async) || []"
      optionLabel="name"
      appendTo="body"
    />
    @if (formRef.submitted && cashboxForm.controls.storeId.errors) {
      @if ('required' in cashboxForm.controls.storeId.errors) {
        <p-message severity="error" size="small" variant="simple"> Магазин обязателен </p-message>
      }
    }
  </div>

  <div class="mt-4 flex justify-end gap-4">
    <button type="button" pButton pRipple [text]="true" (click)="closeDialog()">
      <span pButtonLabel>Отмена</span>
    </button>
    <button type="submit" pButton pRipple [loading]="loading()">
      <i [class]="buttonIcon()" pButtonIcon></i>
      <span pButtonLabel>{{ buttonLabel() }}</span>
    </button>
  </div>
</form>
