<div class="flex items-center justify-between gap-4">
  <h1 class="text-2xl">Документы покупки</h1>

  <button pButton pRipple (click)="openCreateDialog()" severity="primary">
    <i class="pi pi-plus" pButtonIcon></i>
    <span pButtonLabel>Добавить</span>
  </button>
</div>

<div class="flex-auto">
  @if (documentPurchasesResource.hasValue()) {
    <app-table
      class="h-full"
      [values]="documentPurchasesResource.value()"
      [columns]="columnsDocument()"
      (edited)="editedDocumentPurchase($event)"
      (deleted)="deletedDocumentPurchases($event)"
      filter
      virtualList
      selectable
      editable
      deletable
    />
  }
</div>
