<form
  class="flex flex-col gap-6"
  [formGroup]="documentPurchaseForm"
  (ngSubmit)="saveDocumentPurchase()"
  #formRef="ngForm"
>
  <div class="field">
    <label for="date">Дата документа</label>
    <p-date-picker
      id="date"
      fluid
      formControlName="date"
      placeholder="Выберите дату"
      [showIcon]="true"
      [showTime]="true"
      [showSeconds]="false"
      dateFormat="dd.mm.yy"
      appendTo="body"
    />
  </div>

  <div class="field flex flex-row items-center gap-4">
    <label for="priceTypeId">Тип цены <em class="text-red-500">*</em></label>

    <div>
      <p-selectButton
        id="priceTypeId"
        formControlName="priceTypeId"
        [options]="priceTypeOptions()"
      />

      @if (formRef.submitted && documentPurchaseForm.controls.priceTypeId.errors) {
        @if ('required' in documentPurchaseForm.controls.priceTypeId.errors) {
          <p-message severity="error" size="small" variant="simple">
            Тип цены обязателен
          </p-message>
        }
      }
    </div>
  </div>

  <div class="field">
    <label for="vendorId">Поставщик <em class="text-red-500">*</em></label>
    <p-select
      id="vendorId"
      fluid
      formControlName="vendorId"
      optionValue="id"
      placeholder="Выберите поставщика"
      [filter]="true"
      [options]="vendors()"
      optionLabel="name"
      appendTo="body"
    />
    @if (formRef.submitted && documentPurchaseForm.controls.vendorId.errors) {
      @if ('required' in documentPurchaseForm.controls.vendorId.errors) {
        <p-message severity="error" size="small" variant="simple"> Поставщик обязателен </p-message>
      }
    }
  </div>

  <div class="field">
    <label for="storeId">Магазин <em class="text-red-500">*</em></label>
    <p-select
      id="storeId"
      fluid
      formControlName="storeId"
      optionValue="id"
      placeholder="Выберите магазин"
      [filter]="true"
      [options]="stores()"
      optionLabel="name"
      appendTo="body"
    />
    @if (formRef.submitted && documentPurchaseForm.controls.storeId.errors) {
      @if ('required' in documentPurchaseForm.controls.storeId.errors) {
        <p-message severity="error" size="small" variant="simple"> Магазин обязателен </p-message>
      }
    }
  </div>

  <div class="field">
    <label for="note">Заметка</label>
    <textarea
      id="note"
      fluid
      formControlName="note"
      placeholder="Дополнительная заметка"
      pTextarea
      rows="3"
    ></textarea>
  </div>

  <div class="mt-4 flex justify-end gap-4">
    <button type="button" pButton pRipple [text]="true" (click)="closeDialog()">
      <span pButtonLabel>Отмена</span>
    </button>
    <button type="submit" pButton pRipple [loading]="loading()">
      <i [class]="buttonIcon()" pButtonIcon></i>
      <span pButtonLabel>{{ buttonLabel() }}</span>
    </button>
  </div>
</form>
